/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

/* 
Variables
*/

:root {
  --clr-primary: #00337C;
  --clr-background: #F3E9DD;
  --clr-font: #1C315E;
  --clr-title: #D49B54;
  --White: #fff;
  --ff-primary: 'Oswald', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
Global Styles
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: var(--ff-primary);
  background: var(--clr-background);
  color: var(--clr-font);
  line-height: 1.25;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

/* global font size configuration */
p {
  font-size: 15px;
}